venv
*.pyc
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_coverage_results/
otree_tools.egg-info/
dist/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/dist/
