{% load static otree %}
<h1>jopa</h1>
<script>
    $(function () {
        var unloadingwindowtime = new Date(),
            submittingformtime = new Date();

        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + "/timetracker/{{ participant.code}}/{{page_name}}";

        function sendingEvent(event_type, timestamp) {
            var msg = JSON.stringify({
                'eventtype': event_type,
                'timestamp': timestamp,
            });
            if (socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify(msg));
            }
            ;
        }

        $(window).on('beforeunload', function () {
            unloadingwindowtime = new Date().getTime();
            sendingEvent(1, unloadingwindowtime);
        });
        $('form#form').on('submit', function () {
            submittingformtime = new Date().getTime();
            sendingEvent(0, submittingformtime);

        });
        var socket = new ReconnectingWebSocket(ws_path);
        socket.onopen = function (event) {
            console.log('connected to oTree');
        };
        socket.onclose = function (event) {
            console.log('discontnecting');
        }
        socket.onmessage = function (event) {
            var obj = jQuery.parseJSON(event.data);
            console.log(obj);
        };
    })
    ;
</script>

